.footer {
  background-color: $darkBlue;

  &__items {
    padding-top: 2.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__left {
    text-align: center;
    @include breakpoint-up(large) {
      display: flex;
      text-align: left;
    }
  }

  &__right {
    text-align: center;
  }

  &__socmedWrapper {
    @include breakpoint-up(large) {
      margin-right: 8.125rem;
    }
  }

  &__socmed {
    margin-top: 1.75rem;
    display: flex;
    justify-content: center;

    @include breakpoint-up(large) {
      margin-right: 1rem;
    }

    > li {
      &:not(:last-child) {
        padding-right: 0.875rem;
      }
    }
  }

  &__menu {
    @include breakpoint-up(large) {
      columns: 2;
      margin: 0;
      gap: 5rem;
    }
    > li {
      color: $white;
      font-size: $font-xs;
      font-weight: 600;
      &:not(:last-child) {
        padding-bottom: 1.125rem;
      }
    }
  }

  &__cta {
    padding-top: 1.3125rem;
    padding-bottom: 1.75rem;
  }

  &__copyright {
    padding-bottom: 2.75rem;
  }
}
